<form [formGroup]="form">
    <app-step-layout [step]="view.step" [blocks]="blocksArray()">
        <ng-template #blockContent let-block>
            @switch (block.type) { @case ('radio') {
            <app-radio-group [options]="block.options || []" [formControlName]="block.id"></app-radio-group>
            } @case ('checkbox') {
            <app-checkbox-group [options]="block.options || []" [formControlName]="block.id"></app-checkbox-group>
            } @case ('textarea') {
            <app-textarea-field
                [label]="block.label || ''"
                [placeholder]="block.placeholder || ''"
                [limit]="view.dictionary.limits.textarea"
                [formControlName]="block.id"></app-textarea-field>
            } @case ('composite') {
            <div class="composite-layout" [formGroupName]="block.id">
                @for (field of block.fields; track field.id) {
                <div class="composite-field" [class]="'layout-' + (field.layout || 'full')">
                    @switch (field.type) { @case ('input') {
                    <app-input-field
                        [label]="field.label || ''"
                        [placeholder]="field.placeholder || ''"
                        [maxLength]="field.maxLength || null"
                        [required]="field.validators?.includes('required') || false"
                        [formControlName]="field.id"></app-input-field>
                    } @case ('textarea') {
                    <app-textarea-field
                        [label]="field.label || ''"
                        [placeholder]="field.placeholder || ''"
                        [limit]="view.dictionary.limits.textarea"
                        [formControlName]="field.id"></app-textarea-field>
                    } @case ('multi-select') {
                    <app-multi-select-field
                        [label]="field.label || ''"
                        [placeholder]="field.placeholder || ''"
                        [options]="field.options || []"
                        [formControlName]="field.id"></app-multi-select-field>
                    } @case ('select') {
                    <app-select-field
                        [label]="field.label || ''"
                        [placeholder]="field.placeholder || ''"
                        [options]="field.options || []"
                        [formControlName]="field.id"></app-select-field>
                    } }
                </div>
                }
            </div>
            } }
        </ng-template>
    </app-step-layout>
</form>
