<tui-textfield [iconStart]="iconStart() || null" [style.margin-bottom.rem]="1">
    <label tuiLabel for="textarea-field-input">{{ label() }}</label>
    <textarea
        id="textarea-field-input"
        tuiTextarea
        [placeholder]="placeholder()"
        [limit]="limit()"
        [max]="maxRows()"
        [min]="minRows()"
        [disabled]="disabled"
        [ngModel]="value"
        (ngModelChange)="onModelChange($event)"
        (blur)="onTouched()"></textarea>
</tui-textfield>
<tui-error [error]="errorMessage"></tui-error>
